{% extends "base.html" %}

{% block title %}{{ room }}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
 window.room = "{{ room.id }}";
</script>

<script type="text/javascript" src="static/js/bonhomie.js"></script>
<script type="text/javascript" src="static/js/chat.js"></script>

<link rel="stylesheet" href="static/css/home_button.css" media="all">

{% endblock %}

{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-xs-8">
            <div id="people">

            </div>
            <!-- Chat -->
            <div class="col-xs-12" >
                <div id="chat">
                    <div class="hidden" id="nickname">
                        <form id="set-nickname" class="wrap">
                            <p>Please type in your nickname and press enter.</p>
                            <input id="nick">
                            <p id="nickname-err">Nickname already in use</p>
                        </form>
                    </div>
                    <div id="connecting">
                        <div class="wrap">Connecting to socket.io server</div>
                    </div>

                    <div id="messages" class="hidden">
                        <div id="nicknames"><span>Online:</span></div>
                        <!-- <div id="lines"></div> -->
                    </div>

                    <form id="send-message">
                        <input id="message" data-emoji-input="unicode">
                        <button>Send</button>
                    </form>
                </div>
            </div>
            <!-- Chat ends -->
        </div>

        <div class="col-xs-4">
            TIMELINE
            <div id="lines">

            </div>
            <div class="homebubble">
            </div>
            <div>
                <img class="img-responsive" src="static/img/house.png" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose your model</h4>
            </div>
            <div class="modal-body">
                <div id="modalTable" style="margin: -10px 0 10px 0;">

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}
